/*
Theme Name: Parker Child
Theme URI: http://umbrella.al/
Description: Parker child theme from Umbrella
Author: Umbrella
Author URI: http://umbrella.al/
Template: parker
Version: 1.0.0
License: General Public License
License URI: http://www.gnu.org/licenses/gpl.html
*/
@import url("../parker/assets/css/global.css");

@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('fonts/alfaslabone-regular-webfont.eot');
    src: url('fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('fonts/alfaslabone-regular-webfont.woff') format('woff'),
         url('fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
         url('fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Sage Mods Below */

body {
	font-family: 'Raleway', 'sans-serif';
	font-weight: 400;
}

header {
	height: 160px!important;
	background: #FFF url('images/header-bg.jpg') no-repeat center top !important;
}

#snipe {
	width: 129px;
	max-height: 130px;
	margin: 0;
	padding: 0;
	right: 0;
	position: absolute;
	z-index: 9999;
}

#snipe img {
	max-height: 100%!important;
	width: auto!important;
	float:right;
}
p {
	line-height: 2.2em;
	margin: 0 0 24px!important;
}

h1, h2, h3 {
	font-size: 24px!important;
	font-weight: 700!important;
	text-transform: uppercase;
}

h1, h2, h3 {
	font-size: 24px!important;
	font-weight: 700!important;
	text-transform: uppercase;
}

h1, h2, h3 {
	font-weight: 700!important;
	text-transform: uppercase;
}

h1 {font-size: 24px!important;}

h2 {font-size: 22px!important;}

h3 {font-size: 20px!important;margin-top: 24px;margin-bottom: 18px;}

img.alignright {
	float: right;
	margin: 0 0 10px 20px;
}

.logo {
	overflow: visible !important;
}

.logo img {
	max-height: 150px !important;
	margin-top: -15px !important;
}

.first_menu, .second_menu {
	margin-top: 30px;
}

.bio {
   width: 33.33333333%;
   float: left;
   text-align: center;
   color: #48727b;
}

.bio h3 {
	font-family: 'alfa_slab_oneregular' !important;
	letter-spacing: 2px;
}

/* 

.manuAndLogo {
	text-align: center!important;
}

.logo img {
	margin-top: 20px!important;
}

.navbar ul ul {
	background: #C95E1A!important;
}

.navbar ul ul li {
	padding: 10px 20px 5px!important;
}

.navbar ul li a {
	line-height: 72px!important;
	margin-bottom: -11px;
}

.navbar ul ul li a {
	color: #fff!important;
	line-height:22px!important;
}

.navbar ul ul li a:hover {
	color: #68503E!important;
}

.navbar.first_menu {
	display: block;
	float: none!important;
}

.navbar ul ul li.current_page_item > a {
	color:#fff!important;
	text-decoration:underline!important;
}

.sub-menu:before {
	border-bottom:15px solid #C95E1A!important;
}

*/

.container h1 {
	margin-top: 8px!important;
	margin-bottom: 24px!important;
}

.theContent a {
	color: #37454e!important;
	font-weight:700!important;
	text-decoration: underline!important;
}

.container a:hover {
	text-decoration:none!important;
	color:#C95E1A!important;
}

.logo.logo_left.logo_right {
	margin: 15px 10px 0!important;
}

.home_box_intro_text {
	margin: 40px auto 0!important;
}

.home_box_intro_text h3 {
	margin: 0 0 15px!important;
	font-size: 2.0em !important;
}

.home_box_intro_text p {
	padding: 0 24% 0;
	margin: 0;
}

.home_box .home_fullSlider {
	margin: 48px auto!important;
}

.home_box_bucket .bucketContent {
	padding: 4px 28px!important;
	text-align: center;
}

.home_box_bucket .bucketContent h2 {
	margin-bottom: 20px;
	line-height: 30px;
}

.home_box_bucket:hover .bucketContent h2 {
	color: #68503E!important;
}

.home_box_intro_text h3 {
	font-family: 'alfa_slab_oneregular' !important;
	letter-spacing: 2px;
}

div.bucketContent p {
	font-weight:400!important;
	line-height:22px;
}

.boxImgHolder {
	background-color: transparent !important;
   width: 100%;
}


.boxImgHolder img {
	width: 100% !important;
}

#basic .clearfix li:nth-child(1n) a .home_box_bucket {
	background-color: transparent !important;
	background: rgba(120,130,55,0.92) url('images/home-box-commercial-top.png') no-repeat center top !important;
}

#basic .clearfix li:nth-child(2n) a .home_box_bucket {
	background-color: transparent !important;
	background: rgba(201,94,26,0.50) url('images/home-box-residential-top.png') no-repeat center top !important;
}

#basic .clearfix li:nth-child(3n) a .home_box_bucket {
	background-color: transparent !important;
	background: rgba(102,153,153,0.50) url('images/home-box-remodel-top.png') no-repeat center top !important;
}

#basic .clearfix li:nth-child(4n) a .home_box_bucket {
	background-color: transparent !important;
	background: rgba(104,80,62 ,0.92) !important;
}

.templateProjects .orderByIsotope {
	margin-top: 20px!important;
}

.orderByIsotope {
	margin: 0!important;
}

.page-id-19 div.theContent.hasBg {
	padding: 10px;
	margin: 30px 35% 10px;
}

.templateProjects .projects {
	margin: 10px 0!important;
}

.templateProjects .orderByIsotope li {
	margin: 0 20px 0 0!important;
}

.projectBoxedContainer {
	margin: 0 auto !important;
	padding: 20px 13% 0;
}

.projectLinks {
	margin-top: 28px !important;
}

.projectPreview {
	display: none!important;
}

.projectBoxedContainer .projectBoxedContent {
	padding: 0 0 30px 0!important;
}

.externalSourcesBoxed .socialShares {
	margin-top: 0!important;
	margin-bottom: 30px!important;
}

.rslides_nav {
	top: 45% !important;
}

.alignleft {
	margin: 0 12px 0 0;
	padding-top: 5px;
	float: left!important;
}

.row {
	padding-top: 5px;
}

.row li {
	font-weight: 700!important;
	color:#7d7d7d!important;
	list-style: none!important;
	padding-top: 6px;
    }

.row li:before {
	content: '\2022';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 4px;
	left: -22px;
	top: -12px;
	color: #37454e;
	font-size: 36px;
}



.orderByIsotope li a:hover, .pagination .page-numbers.current, .pagination .page-numbers:hover, .input.btTxt {
	background: #37454e !important;
}

header .navbar>div>ul.nav>li>a:hover, .navbar ul li.current_page_item>a {
	color: #37454e !important;
}


/*
.dropCap {
	color: #fff !important;
	background: #788237;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	padding: 3px 8px 2px;
	margin: -1px 2px 2px 0;
	} */

.green {
	color: #788237!important;
}

.copyrightBttm {
	font-size: 13px;
	margin: 32px;
}

.copyrightBttm a {
	text-decoration: none!important;
	font-weight: 400!important;
}

/* Martopia Styles */
#aboutMT {
	background: #37454e url('images/about-header-bg.jpg') no-repeat;
	background-position: 5% 50%;
	color: #FFF;
	padding-left: 40%;
}

#aboutMT p, #aboutMT h1, #aboutMT h2, #aboutMT h3, #aboutMT h4 {
	color: #FFF !important;
}


/*--- Wufoo CSS ---*/

.noI {background: #ffffff!important;}

input {height: 35px;margin: 10px auto;}

input.btTxt {padding: 0 24px;background: #37454e!important;border: 0;color: #ffffff;}

form li.buttons {padding: 0 1%;}

.wufoo label.desc {letter-spacing: 0.03em;font-family: 'Raleway', 'sans-serif';
font-weight: 400;}


/* Custom Breakpoints */

@media (min-width: 1024px) and (max-width: 1199px) {
	.navbar ul li a {font-size: 13px!important;}
}

@media screen and (max-width: 1024px){
    .logo img {
   margin-left: -16px !important;
       margin-top: -50px !important;
    }

    header {
       height: 210px !important;
    }

    .responsiveMenuIcon {
       margin-top: 35px;
       margin-left: -27px !important;
    }

    .menu_container {
       margin-top: 37px !important;
    }
}

@media (max-width: 1023px) {
	.logo {left: 16px!important;}
	.navbar.first_menu {display: none;}
	.navbar ul li a {line-height: 40px!important;}
	div.halfRow {margin-bottom:20px!important;}
	.menu_container.open {padding-bottom:25px!important;}
	.navbar ul ul li {display:none!important;}
	div.halfRow img {margin-bottom:20px!important;}
	.projectBoxedContainer {padding: 15px 8% 0!important;}
}

@media (max-width: 800px) {
    .bio {
 	   float: none;
 	   border: 0px !important;
 	   width: 100% !important;
    }
}

@media (max-width: 479px) {
	#snipe img {max-height: 72px!important;}
	img.alignright {margin: 0 0 10px 100%!important;}
	.projectBoxedContainer {padding: 15px 5% 0!important;}
	li.um_ajaxLinkA a {font-size:12px!important;}

   .controls {
      margin-top: -120px !important;
   }
   
}

@media (max-width: 419px) {
	li.um_ajaxLinkA, li.um_ajaxLinkA a {display:none!important;}
}

@media (max-width: 319px) {
.externalSourcesBoxed .socialShares {
	display:none!important;
}